mixin Modal(id, modalTemplate)
    .modal(id=id)
        .modal__dialog
            button.btn__modal__close
            .modal__content
                +#{modalTemplate}(entry)

mixin ModalTemplate
    h1 ModalTemplate

mixin ModalCalculator
    h2 Калькулятор цены
    form.calculator
        .form__row
            .form__group
                label Форма организации
                .select
                    select(name="type-form")
                        option(value="ooo_ysn_6") ООО УСН 6 (до трех сотрудников)
                        option(value="ooo_ysn_15") ООО УСН 15 (до трех сотрудников)
                        option(value="ooo_osn") ООО ОСН (до трех сотрудников)
                        option(value="ip_psn") ИП ПСН
                        option(value="ip_ysn_6") ИП УСН6 +ПСН
                        option(value="ip_ysn_15") ИП УСН15 +ПСН
            .form__group
                label Кол-во сотрудников
                .plus__minus
                    button.minus -
                    input(type="number" name="workers-count" value=0)
                    button.plus +
                    
        .form__group 
            label Кол-во операций по р/с (количество кассовых смен) за месяц
            .nouislider
                .text 
                    |Кол-во операций: 
                    span.value 0
                #nouislider
        .radio__wrapper
            label.radio Общепит
                input(type="radio" name='type' value='catering' checked)
                span.checkmark
            +InputRadio('type', 'Производство', 'manufacture')
        .result__wrapper
            .result
                span.value 16 500 
                |руб.\мес.
            button.btn Заказать
        .desc
            b В указанную стоимость входит:
            p - организация бухгалтерского и налогового учета;
            p - обработка первичных документов;
            p - расчет налогов на основании первичных документов,
            p - формирование и передача бухгалтерской, налоговой, статистической отчетности;
            p - консультирование по налогообложению;
            p - расчет зарплаты и налогов;
            p - кадровый учет.

    