include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ProFinance
        include pug/head.pug
    body
        header
            .container
                .logo
                    img(src="assets/images/logo.png", alt="") 
                .contacts__wrapper
                    .col
                        a(href="").contacts.address Нижний Новгород, ул. Дунаева, 19
                        a(href="").contacts.tel +7 (986) 726-00-08
                    .col
                        a(href="").contacts.schedule Режим работы: 08:00 – 17:00
                button.btn обратная связь
        section.first__section
            .container
                .title__wrapper
                    h1 
                        |Бухгалтерское и налоговое сопровождение малого бизнеса <br>
                        span 
                            small от 
                            | 1500 рублей в год
                    p «Под ключ» от создания финансовой модели и регистрации ООО/ИП до подготовки и сдачи отчетности
                .pluses__wrapper
                    .plus
                        .icon
                            img(src="assets/images/icons/plus1.png", alt="")
                        span Без предоплаты по договору
                    .plus
                        .icon
                            img(src="assets/images/icons/plus2.png", alt="")
                        span Снизим налоговые расходы до 50%
                    .plus
                        .icon
                            img(src="assets/images/icons/plus3.png", alt="")
                        span Взаимодействуем с ИФНС, ПФР и ФСС
                .btn__wrapper
                    button.btn калькулятор цены
        section.questions
            .container
                .questions__wrapper
                    h2 Поступил запрос из ИФНС и нужно срочно отреагировать?
                    h2 Возникли сложности с формированием и сдачей отчетности?
                    h2 Уровень налоговой нагрузки вашей компании выше среднего?
                .pluses__wrapper
                    .plus
                        .desc Окажем полный спектр услуг по ведению бухгалтерского и налогового учета, эффективному использованию финансовых ресурсов.
                    .plus
                        .desc Наведем порядок в бухгалтерии, освободим ваше время для текущих бизнес-процессов и важных дел.
                    .plus
                        .desc Наша модель сотрудничества сочетает современные IT-технологии и классический подход вовлечения в процесс с пониманием специфики вашей отрасли.



        include pug/scripts.pug