include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ProFinance
        include pug/head.pug
    body
        header
            .container
                .logo
                    img(src="assets/images/logo.png", alt="") 
                .contacts__wrapper
                    .col
                        a(href="").contacts.address Нижний Новгород, ул. Дунаева, 19
                        a(href="").contacts.tel +7 (986) 726-00-08
                    .col
                        a(href="").contacts.schedule Режим работы: 08:00 – 17:00
                button.btn обратная связь
        section.first__section
            .container
                .title__wrapper
                    h1 
                        |Бухгалтерское и налоговое сопровождение малого бизнеса <br>
                        span 
                            small от 
                            | 1500 рублей в год
                    p «Под ключ» от создания финансовой модели и регистрации ООО/ИП до подготовки и сдачи отчетности
                .pluses__wrapper
                    .plus
                        .icon
                            img(src="assets/images/icons/plus1.png", alt="")
                        span Без предоплаты по договору
                    .plus
                        .icon
                            img(src="assets/images/icons/plus2.png", alt="")
                        span Снизим налоговые расходы до 50%
                    .plus
                        .icon
                            img(src="assets/images/icons/plus3.png", alt="")
                        span Взаимодействуем с ИФНС, ПФР и ФСС
                .btn__wrapper
                    button.btn калькулятор цены
        section.questions
            .container
                .questions__wrapper
                    h2 Поступил запрос из ИФНС и нужно срочно отреагировать?
                    h2 Возникли сложности с формированием и сдачей отчетности?
                    h2 Уровень налоговой нагрузки вашей компании выше среднего?
                .pluses__wrapper
                    .plus
                        .desc Окажем полный спектр услуг по ведению бухгалтерского и налогового учета, эффективному использованию финансовых ресурсов.
                    .plus
                        .desc Наведем порядок в бухгалтерии, освободим ваше время для текущих бизнес-процессов и важных дел.
                    .plus
                        .desc Наша модель сотрудничества сочетает современные IT-технологии и классический подход вовлечения в процесс с пониманием специфики вашей отрасли.
        section.numers__section
            .container
                .numbers__wrapper
                    .number
                        h2 
                            small более 
                            |1 000 000 
                            small налогов
                        span сэкономили и вернули<br> из бюджета
                    .number
                        h2 
                            |124 
                            small клиента
                        span ведем на аутсорсинге <br>сейчас
                    .number
                        h2 
                            |24/7 
                        span держим руку «на пульсе»<br> ваших дел
        section.yes__no__section
            .container
                .col
                    h2 Это о вашей компании?
                    .wrapper.no
                        .item
                            span Нет бухгалтера в штате или бухгалтер ведет только первичку
                        .item
                            span Запустили стартап и нужно сэкономить на стадии развития
                        .item
                            span Хотите, чтобы бухгалтерию вел профессионал
                        .item
                            span Не желаете заниматься рутиной, а стремитесь продвигать бизнес
                        .item
                            span Опасаетесь налоговых проверок и не хотите платить штрафы
                .col 
                    h2 Доверьте нам следующие направления:
                    .wrapper.yes
                        .item
                            span.title Бухгалтерское обслуживание
                            span Сформируем первичную документацию. Обеспечим своевременную сдачу бухгалтерской, налоговой отчетности
                        .item
                            span.title Налоговый учет
                            span Подберем выгодную систему налогообложения со льготами, учитывая род вашей деятельности
                        .item
                            span.title Кадровый учет
                            span Обеспечим полное ведение кадрового делопроизводства – от приема на работу сотрудников до увольнения
                        .item
                            span.title Юридическое сопровождение
                            span Окажем полный спектр юридических услуг – от составления договоров до представительства ваших интересов в суде
        section.banner__section
            .container
                .banner
                    h2 Закажите аутсорсинг бухгалтерских услуг и получите <b>СКИДКУ 20%</b> на первый месяц обслуживания
                    p.blue Спецпредложение действует до 30.06.2021 г.
                    button.btn Заказать
                    img(src="assets/images/bg/banner.png", alt="").person
        section.what_you_get
            .container
                h2 Вы получите:
                .sldier__wrapper
                    .owl-carousel
                        .item
                            .text__wrapper
                                span.title Сокращение расходов 1
                                span.text Исключим расходы: налоги с ФОТ, поддержку бухгалтерского программного обеспечения, организацию рабочих мест
                            img(src="assets/images/what_you_get/relaxed-employee-enjoying-result-good-job-done.jpg").image
                        .item
                            .text__wrapper
                                span.title Сокращение расходов 2
                                span.text Исключим расходы: налоги с ФОТ, поддержку бухгалтерского программного обеспечения, организацию рабочих мест Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nulla labore dignissimos? Dolores totam perspiciatis neque placeat porro ipsa sapiente reprehenderit. Eveniet, voluptas deserunt sit maiores at commodi itaque fuga.
                            img(src="assets/images/what_you_get/relaxed-employee-enjoying-result-good-job-done.jpg").image
                        .item
                            .text__wrapper
                                span.title Сокращение расходов 3
                                span.text Исключим расходы: налоги с ФОТ, поддержку бухгалтерского программного обеспечения, организацию рабочих мест
                            img(src="assets/images/what_you_get/relaxed-employee-enjoying-result-good-job-done.jpg").image
                        .item
                            .text__wrapper
                                span.title Сокращение расходов 3
                                span.text Исключим расходы: налоги с ФОТ, поддержку бухгалтерского программного обеспечения, организацию рабочих мест
                            img(src="assets/images/what_you_get/relaxed-employee-enjoying-result-good-job-done.jpg").image
                    .dots__wrapper
                        .count
                            .current 
                                .value 00
                                .separator /
                            .total__count 00
                        .arrow
                        .dots
        section.tariffs
            .container
                .wrapper
                    .item
                        .icon
                            img(src="assets/images/icons/tariff1.png", alt="")
                        .title Нулевая отчетность
                        .price
                            b 
                                small от
                                | 1500
                            span руб.\мес.
                        .desc Подготовка и сдача в государственные органы все обязательной отчетности в электронном виде при отсутствии финансово-хозяйственной деятельности
                        button.btn Выбрать
                    .item
                        .icon
                            img(src="assets/images/icons/tariff2.png", alt="")
                        .title Подготовка отчетности
                        .price
                            b 
                                small от
                                | 3000
                            span руб.\мес.
                        .desc Подготовка и сдача в государственные органы все обязательной отчетности в электронном виде при наличии финансово-хозяйственной деятельности. Оптимизация налогооблажения
                        button.btn Выбрать
                    .item
                        .icon
                            img(src="assets/images/icons/tariff3.png", alt="")
                        .title Полное сопровождение
                        .price
                            b 
                                small от
                                | 5000
                            span руб.\мес.
                        .desc Ведение всех участков бухгалтерского учета, подготовка и сдача в государственные органы всей обязательной отчестности. Консультации
                        button.btn Выбрать





                    


        include pug/scripts.pug