body
{
    margin: 0;
    color: #1b191a;
    background: #ffffff;
    font-family: "OpenSans";
}

body.lock
{
    overflow: hidden;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

button, input, select
{
    outline: none;
}

button, a
{
    cursor: pointer;
}

.logo
{
    display: flex;
}

header
{
    color: #fff;
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: 0.5s;

    .container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

header.active
{
    background: #242424;
}

.contacts__wrapper 
{
    display: flex;

    .col
    {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
    }

    .contacts
    {
        font-size: 14px;
        padding-left: 25px;
        position: relative;
    }

    .contacts:after
    {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .address:after
    {
        width: 15px;
        height: 21px;
        background: url(../images/icons/address.png);
    }

    .tel:after
    {
        width: 14px;
        height: 22px;
        background: url(../images/icons/phone.png);
    }

    .schedule:after
    {
        width: 19px;
        height: 19px;
        background: url(../images/icons/schedule.png);
    }

    .address
    {
        margin-bottom: 10px
    }

    .tel
    {
        font-size: 16px;
    }
}

.btn
{
    min-width: 215px;
    min-height: 45px;
    border: none;
    background: #fbd480;
    font-family: 'OpenSans';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.sidebar__menu.active
{
    right: 0;
}

.sidebar__menu 
{
    position: fixed;
    right: -100%;
    top: 0;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background: #fff;
    color: #000;
    z-index: -1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s;

    .contacts__wrapper
    {
        display: flex;
        flex-direction: column;

        .contacts:after
        {
            filter: invert(100%);
        }

        .contacts 
        {
            margin-bottom: 20px;
        }
    }
}

section.first__section:after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    z-index: -1;
    opacity: 0.5;
}

section.first__section
{
    padding: 150px 0;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 35% 100%, 0 70%);
    position: relative;
    overflow: hidden;

    .bg__video
    {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 50px;
        z-index: -1;
        transform: scale(1.25);
    }

    .bg__video:after
    {
        
    }

    .title__wrapper
    {
        
        width: 55%;

        h1
        {
            font-size: 37px;
            display: block;
            span
            {
                font-size: 42px;
                color: #fbd480;
                display: block;
                margin-top: 10px;
            }
        }

        p 
        {
            font-size: 22px;
        }
    }

    .pluses__wrapper
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 60px 0;

        .icon
        {
            text-align: center;
            margin-bottom: 25px;
        }

        span
        {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
        }
    }

    .btn__wrapper
    {
        text-align: center;
    }
}

section.questions
{
    padding: 80px 0;

    .questions__wrapper
    {
        h2
        {
            margin: 0;
            font-size: 24px;
            text-align: center;
        }
    }

    .pluses__wrapper
    {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        .plus
        {
            width: 345px;
            height: 345px;
            position: relative;

            .desc
            {
                position: absolute;
                height: 160px;
                width: 100%;
                left: 0;
                bottom: 0;
                padding: 20px;
                font-size: 15px;
                color: #fff;
            }
        }

        .plus:nth-child(1)
        {
            background: url(../images/bg/quest_plus1.jpg);
            background-size: cover;

            .desc
            {
                background: rgba(0, 0, 0, 0.6);
            }
        }

        .plus:nth-child(2)
        {
            background: url(../images/bg/quest_plus2.jpg);
            background-size: cover;

            .desc
            {
                background: rgba(0, 77, 70, 0.6);
            }
        }

        .plus:nth-child(3)
        {
            background: url(../images/bg/quest_plus3.jpg);
            background-size: cover;

            .desc
            {
                background: rgba(0, 36, 77, 0.6);
            }
        }
    }
}

section.numers__section
{
    padding-top: 180px;
    padding-bottom: 90px;
    background: url(../images/bg/numbers_section.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    clip-path: polygon(77% 0, 100% 18%, 100% 100%, 0 100%, 0 33%);
    .numbers__wrapper
    {
        display: flex;
        justify-content: space-between;

        .number
        {
            text-align: center;
            width: 320px;

            h2
            {
                font-size: 35px;
                margin-top: 0;
                margin-bottom: 10px;
    
                small
                {
                    font-size: 19px;
                }
            }
    
            span
            {
                font-size: 18px;
            }
        }

        
    }

}

section.yes__no__section
{
    padding: 80px 0;
    .container
    {
        display: flex;
        flex-wrap: wrap;

        .col:first-child
        {
            padding-right: 100px;
        }

        .col
        {
            width: 50%;

            .wrapper
            {
                display: flex;
                flex-direction: column;
                margin-top: 40px;

                .item
                {
                    padding-left: 60px;
                    font-size: 19px;
                    margin-bottom: 40px;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                }
            }

            .no
            {
                .item:after
                {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 5px;
                    width: 40px;
                    height: 40px;
                    background: url(../images/icons/no.png);
                }
            }

            .yes
            {
                .title
                {
                    font-weight: 700;
                    display: block;
                    margin-bottom: 25px;
                }

                .item:after
                {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0px;
                    width: 38px;
                    height: 38px;
                    background: url(../images/icons/yes.png);
                }
            }
        }
    }
}

section.what_you_get
{
    margin-top: 80px;
    .container
    {
        padding-bottom: 80px;
    }

    h2
    {
        text-align: center;
        margin-bottom: 80px;
    }

    .sldier__wrapper
    {
        position: relative;
        .item
        {
            display: flex;
            align-items: center;

            .text__wrapper
            {
                padding-right: 80px;
                font-size: 18px;
                display: flex;
                flex-direction: column;

                .title
                {
                    display: block;
                    margin-bottom: 15px;
                    font-weight: 700;
                }
            }

            .image
            {
                max-width: 650px;
            }
        }

        .dots__wrapper
        {
            display: flex;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            transition: 0.5s;
            z-index: 50;

            .count
            {
                display: flex;
                align-items: center;

                .current
                {
                    display: flex;
                    font-size: 18px;
                    font-weight: 700;
                }

                .total__count
                {
                    font-size: 13px;
                    font-weight: 700;
                    color: #8a8a8a;
                }

                .separator
                {
                    margin:0 5px;
                }
            }

            .arrow
            {
                width: 33px;
                height: 5px;
                background: url(../images/icons/arrow.png);
                margin: 0 10px;
            }

            .dots
            {
                display: flex;
                align-items: center;

                button
                {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #aeaeae;
                    padding: 0;
                    border: none;
                    margin: 5px;
                    transform: 0.5s;
                }

                button.active
                {
                    background: #fbd480;
                }
            }
        }
    }
}

section.banner__section
{
    background: url(../images/bg/banner_bg.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 80px;

    .banner
    {
        position: relative;
        background: #fff;
        padding: 40px;
        padding-right: 420px;
        width: 80%;
        margin: auto;

        h2
        {
            margin: 0;

            b
            {
                font-size: 32px;
                background: #0567e0;
                padding:0 5px;
                color: #fff;
            }

            span
            {
                font-size: 36px;
            }
        }

        .person
        {
            position: absolute;
            right: 40px;
            bottom: 0;
        }

        .blue
        {
            margin: 20px 0;
            font-weight: 700;
            font-size: 20px;
            color: #0567e0;
        }
    }

    .banner.second
    {
        padding: 60px;
        padding-right: 440px;

        h2
        {
            margin-bottom: 25px;
        }
    }
}

section.tariffs
{
    padding: 100px 0 180px 0;
    background: url(../images/bg/tariffs.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(100% 10%, 100% 89%, 71% 100%, 0 88%, 0 18%, 34% 0);
    .wrapper
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item
        {
            width: 30%;
            border: 1px solid #dfdfdf;
            padding: 20px 30px 50px 30px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #fff;

            .icon
            {
                text-align: center;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .title
            {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 15px;
            }

            .price
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 15px;

                b 
                {
                    font-size: 40px;
                    font-weight: 700;
                }

                small 
                {
                    font-size: 20px;
                    margin-right: 5px;
                }

                span
                {
                    font-size: 18px;
                }
            }

            .desc
            {
                margin-bottom: 25px;
            }

            .btn
            {
                margin-top: auto;
            }
        }
    }

    .title__wrapper
    {
        width: 75%;
        text-align: center;
        margin: auto;
        margin-bottom: 60px;
        color: #fff;

        h2
        {
            font-size: 24px;
        }

        p
        {
            font-size: 20px;
        }
    }
}

section.your__back
{
    margin: 80px 0;
    .wrapper
    {
        display: flex;
        width: 95%;
        margin: auto;
        align-items: center;

        .image
        {
            border-right: 23px solid #fdf3dd;
            border-bottom: 23px solid #fdf3dd;
        }

        h2
        {
            margin-top: 0;
        }

        .text__wrapper
        {
            padding: 30px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);

            p
            {
                font-size: 16px;
                font-style: italic;
            }

            p:last-child
            {
                margin-bottom: 0;
            }
        }
    }
}

section.interaction
{
    padding: 80px 0;
    h2
    {
        text-align: center;
    }
    .interaction__wrapper
    {
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
        margin-top: 60px;

        .item
        {
            width: 33.333333%;
            padding: 40px;
            min-height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 18px;
            transition: 0.5s;

            .icon
            {
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 45px;
            }

            .title
            {
                font-weight: 700;
            }
        }

        .item:nth-child(2n+1)
        {
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
        }

        .item:hover
        {
            background: #fdf3dd;

            .icon img
            {
                filter: invert(5%) sepia(320%) saturate(733%) hue-rotate(342deg) brightness(93%) contrast(88%);
            }
        }
    }
}

section.reviews
{
    padding-bottom: 80px;
    h2
    {
        text-align: center;
    }

    h3
    {
        text-align: center;
        font-weight: 400;
    }

    .item
    {
        display: block;
        padding: 15px;
        background: #e7e7e7;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    }

    .item__wrapper
    {
        padding: 15px;
    }

    .slider__wrapper
    {
        margin-top: 60px;
    }
}

footer
{
    background: #242424;
    padding: 20px 0;
    color: #fff;

    .container
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .col
        {
            display: flex;
            flex-direction: column;
            font-size: 14px;
        }
    }
}

#modalCalc .modal__content
{
    width: 680px;
    padding: 30px;
}

.modal
{
    h2
    {
        text-align: center;
        margin-top: 0;
    }

    .form__row
    {
        display: flex;
        flex-wrap: wrap;

        .form__group:nth-child(1)
        {
            width: 65%;
            padding-right: 25px;
        }

        .form__group:nth-child(2)
        {
            width: 35%;
        }
    }

    .form__group
    {
        margin-bottom: 40px;

        label
        {
            font-size: 18px;
            margin-bottom: 10px;
            display: block;
        }

        input
        {
            height: 45px;
            background-color: #ecf1f7;
            border: none;
            font-weight: 700;
            font-family: "OpenSans";
            font-size: 15px;
        }

        .select
        {
            position: relative;

            select
            {
                height: 45px;
                width: 100%;
                border: none;
                background-color: #ecf1f7;
                padding: 0 15px;
                font-weight: 700;
                font-family: "OpenSans";
                font-size: 15px;
                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                appearance:none;
                cursor: pointer;
            }
        }

        .select:after
        {
            content: '';
            width: 12px;
            height: 6px;
            background: url(../images/icons/select_arrow.png);
            position: absolute;
            right: 15px;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        .plus__minus
        {
            display: flex;
            align-items: center;
            justify-content: center;

            input
            {
                height: 45px;
                width: 50px;
                text-align: center;
                display: flex;
                justify-content: center;
                -moz-appearance: textfield;
                appearance:none;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            button
            {
                width: 30px;
                height: 30px;
                font-weight: 800;
                font-family: "OpenSans";
                font-size: 17px;
                border: none;
                background: none;
            }
        }
    }

    .nouislider
    {
        position: relative;
        height: 45px;
        height: 45px;
        background-color: #ecf1f7;
        font-weight: 700;
        font-family: "OpenSans";
        font-size: 15px;
        display: flex;
        align-items: center;
        padding: 0 15px;

        #nouislider 
        {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            box-shadow: none;
            border: none;

            .noUi-connects
            {
                border-radius: 0;
            }

            .noUi-connect
            {
                background: #f8d995;
            }

            .noUi-handle
            {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                border: 2px solid #f8d995;
                right: -8px;
                top: -8px;
                outline: none;
            }

            .noUi-handle:before, .noUi-handle:after
            {
                content: none;
            }
        }
    }

    .radio__wrapper
    {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 25px;

        .radio .checkmark
        {
            border-radius: 0;
            border: 1px solid black;
            background: #fff;
            transition: 0.5s;
        }

        .radio:hover .checkmark
        {
            background: #e7e7e7;
        }

        .radio .checkmark:after
        {
            border-radius: 0;
            background: #fbd480;
            width: 8px;
            height: 8px;
        }

    }

    .result__wrapper
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 50px;
        margin-bottom: 25px;
        
        .result
        {
            width: 48%;
            height: 100%;
            border: 1px solid #a6a6a6;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            font-weight: 700;
            font-size: 16px;

            .value
            {
                font-size: 22px;
                margin-right: 5px;
                font-weight: 800;
            }
        }

        .btn
        {
            width: 48%;
            height: 100%;
            font-size: 17px;
        }
    }

    .desc
    {
        b
        {
            display: block;
            margin-bottom: 10px;
        }

        p
        {
            margin: 0;
            font-size: 15px
        }
    }
}


@import 'responce';